<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark" style="width:110%;">
    <img src="../assets/img/logo.png" alt="" style="width:3%;">&nbsp;&nbsp;&nbsp;
  <a href="#" class="navbar-brand">ATB-Servers</a>
  <ul class="navbar-nav mr-auto" routerLinkActive="active">

   <!-- <li class="nav-item">
      <a  routerLink="servers" class="nav-link" routerLinkActive="active">Home</a>
    </li>
    -->
    <li class="nav-item" *ngIf="showAdminBoard">
      <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>

    </li>

    <li class="nav-item" *ngIf="showAdminBoard">

      <a class="nav-link" routerLink="students">Students List</a>

    </li>
    <li class="nav-item" *ngIf="showAdminBoard">

      <a class="nav-link" routerLink="addstudent">Add Student</a>


    </li>
    <li class="nav-item" *ngIf="showAdminBoard">
      <a class="nav-link" routerLink="deletestudent">Delete Student</a>

    <!--UserBoard-->

    <li class="nav-item" *ngIf="showUserBoard">
      <a class="nav-link" >UserBoard</a>
    </li>
    <li class="nav-item" *ngIf="showUserBoard">
      <a class="nav-link" routerLink="students">StudentList</a>
    </li>
    <!--Moderatorboard-->
    <li class="nav-item" *ngIf="showModeratorBoard">
      <a class="nav-link">Moderator Board</a>

    </li>

  </ul>


  <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn" style="margin-right: 10%;">
    <li class="nav-item">
      <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
    </li>
    <li class="nav-item">
      <a href="/login" class="nav-link" routerLink="login">Login</a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn" style="margin-right: 10%;">
    <li class="nav-item">
      <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
    </li>
    <li class="nav-item">
      <a href class="nav-link" (click)="signout()">LogOut</a>
    </li>
  </ul>
</nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
